@charset "UTF-8";

.f_background {
	background-color: #2c4b69;
}

.f_padding_t {
	padding-top: 1.8rem;
}

.f_margin_t {
	margin-top: 1rem;
}

.f_padding_b {
	padding-bottom: 1.2rem;
}

.f_margin_l {
	margin-left: 4.8rem;
}

.f_nav_link {
	display:block;
	padding:var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
	font-size:15px;
	font-weight:400;
	color: #FFF; 
	text-decoration:none;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.f_nav_link:focus,.f_nav_link:hover {
	color:#83a2c0;
	font-weight:500;	
}

.f_content {
	color: #83a2c0;
	font-size: 13px;
	font-weight:300;
}

.f_bottom_box {
	display:flex;
	justify-content:space-between;
}