@charset "UTF-8";

.text_banner {
	padding-top:var(--bs-navbar-brand-padding-y);
	padding-bottom:var(--bs-navbar-brand-padding-y);
	font-size:var(--bs-navbar-brand-font-size);
	color:#fff;
	text-decoration:none;
	white-space:nowrap;
}

.board_CAT {
	width: 100%;
	border-bottom: 1px solid #325d88;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 0 10px 0;
}

.text_point {
	color:#325d88;
}

.a_box_style {
	display: block;
	border-radius: 7px;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	color: #fff;
	background-color: #325d88;
	padding: 15px;
	margin-top: 20px !important;
	margin-bottom: 70px;
}
.a_box_style:hover {
	color: #fff;
	background-color: #2b4f74;
}

.search_box {
	background-color: #fff;
}

.search_box:hover {
	background-color: #ececec;
}